<div>
  <div class="small-print">
    <small>{{ .Site.Copyright | safeHTML }}</small>
  </div>
  <div class="small-print">
    <small>Built with&nbsp;<a href="https://gohugo.io/" target="_blank">Hugo</a></small>
    <small>Theme&nbsp;<a href="https://github.com/yoshiharuyamashita/blackburn" target="_blank">Blackburn</a><a href="https://sapeint.xyz/projects/blackburn-fa5">with Sapeint's Patchset</a></small>
  </div>
</div>
